.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/axios/**
.cursor/**
.github/**
.git/**
**/*.vsix
makeRequest.js
webpack.config.js
src/services/openAIService.ts
